@charset "utf-8";

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.4;
    resize: horizontal;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 1840px;
    height: auto;
}
.container {
    width: 80.00%;
    max-width: 960px;
    height: auto;
    background-color: #FFFFFF;
    margin: 0 auto;
    border: thin solid #033;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
}
header {
    background-color: #FFF;
    margin: 5px;
    width: 100%;
    max-width: 950px;
}
nav {
    width: 100%;
    max-width: 950px;
    padding: 0px;
}

header, section, footer, aside, article, figure {
    display: block;
    font-size: small;
}
article {
    padding: 5px;
    width: 100%;
    max-width: 940px;
    height: auto;
}

section li {
    color: rgb(102, 102, 102);
    font-family: NeueHaasGroteskText W01,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30.06px;
    text-align: start;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    word-spacing: 0;
}

.sidebar {
    width: 100%;
    max-width: 180px;
    height: auto;
    background-color: #FFF;
    padding: 5px;
    float: left;
    text-align: center;
    clear: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: oblique;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
    margin: auto;
    list-style: square inside;
    border:  none;
}

#subscribe-btn {
    width: 100%;
    height: 40px;
    background: #FFF no-repeat;
}
.sidebar img {
    width: 100%;
    height: 240px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	font-size: large;
	color: #FFCC00;
	font-weight: bold;
}
/*-------------------------------------*/

#references {
    font-size: 16px;
}

footer {
	padding: 5px;
	background-color: #FFF;
	position: relative;
	clear: both;
	text-align: center;
}
footer img{
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    height: 50px;
}
footer p {
    text-align: center;
}

@media screen and (max-width: 1000px){
    h1 {
        font-size: 18px;
    }
    .container {
        background-color: white;
    }
    header {
        background-color: #FFF;
        width: 100%;
        height: 50px;
    }
    header img {
        width: 100%;
        height: 90px;
    }

    article {
        width: 100%;
    }
    .sidebar {
        float: right;
    }


}

@media screen and (max-device-width: 380px){
    .container {
        width: 100%;
        max-width: 480px;
    }
    header {
        background-color: #FFF;
        width: 100%;
        height: 50px;
        padding: 0px;

    }
    header img {
        width: 100%;
        max-width: 480px;
        height: 40px;
        padding: 3px;
    }
     .sidebar {
        max-width: 480px;
        width: 100%;
        padding: 3px;
        float: none;
    }
    article {
        width: 100%;
        max-width: 480px;
        padding: 0px;
    }

    section p{
        font-size: 16px;
    }
    nav ul li {
        font-size: 14px;
    }
    footer {
        padding: 3px;
    }
    footer img{
        padding-left: 3px;
        padding-right: 3px;
        width: 30px;
        height: 30px;
    }




}


